*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    
}
.container{
 width:1500px;
 padding: 1px 1px;
 display: flex;
 align-items: center;
 justify-content: space-between;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left:-30px;
  margin-right:30px;
      
}
header {
  background: #ffffff;
  border-bottom: 2px, #9a1e2a;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
  padding-left: 5px;
}

nav a {
  text-decoration: none;
  color: #1e3932;
  font-weight: bold;
}

.menu ul{
   display: inline-flex;
    margin: 50px;
 } 
.menu ul li{
    list-style: none;
    margin: 0px 10px;
    padding-left: -5px;
    color:black;
    cursor:pointer;
    font-weight: bold;
}
.logo img{
    width: 50px;
    margin-top: -7px;
    margin-right: 48px;

}    
 .home{
    color:rgb(16, 33, 16) !important;
 } 
 .location{
  justify-content: flex-end;
  text-decoration: none;
  margin-left: 450px;
  font-size: 13px;
  font-weight: bold;
 }  
.join-btn{
    top:25px;
    right:60px;
    position: absolute;
    font-size: 13px;
    color: #f6f5f4fe;
    border:5px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#000),radial-gradient(circle at top left,#000);
    background-color: black;
    background-origin: border-box;
    background-clip: content-box, border-box;

}    
.signin-btn{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 7px 20px;
    font-weight: bold;
    top:20px;
    text-align: center;
    margin-right:1.6rem !important;
    box-sizing: inherit;
    cursor: pointer;
    letter-spacing: -0.01em;
    right: 150px;
    line-height: 1.2;
    position: absolute;
    font-size: 13px;
    color: #000;
    border-radius: 50px;
    background-color: #ffff;
    background-origin: border-box;
    background-clip: content-box, border-box;

}  
.split-container {
  display: flex;
   height:100vh;
}
.Raspberry img{
width: 100%;
  height: 100%;
  object-fit: cover;
   
  }

.Raspberry-text{
   flex:1;
  width: 41%;
  background-color: #f9eedf;
  color: #006342;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  line-height: 1;
}
/*@media (min-width: 768px) {
    .flex.justify-center.items-center.md-size6of12 {
    }
}*/

.strato-text {
  flex:1;
  width: 41%;
  background-color: #f9eedf;
  color: #006342;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  line-height: 1;
}
/*@media (min-width: 768px) {
    .flex.justify-center.items-center.md-size6of {
    }
}
@media (min-width: 768px) {
    .textBlockGutter {
        padding: 0 var(--space-4);
    }
}*/


.right-pane h1 {
  text-decoration-color: #ffffff;
  font-size: 3.8rem;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}



    .view-btn {
      min-width: 32px;
      min-height: 32px;
      color: white;           /* Text color */
      border: 2px solid white;/* White border */
      padding: 10px 20px;     /* Spacing inside button */
      background: transparent;/* No background */
      cursor: pointer;        /* Pointer on hover */
      font-size: 16px;
      border-radius: 5px;   
      box-sizing: inherit;  /* Optional: rounded corners */
      text-align: center;
    }
.view-btn:hover {
      background-color: rgba(10, 10, 10, 0.1); /* Light hover effect */
    }

     .social-icons {
      text-align: left;
      margin-top:1000px;
    }

    .social-icons a {
      margin: 10s00px 10px;
      font-size: 24px;
      color: rgb(11, 11, 11);
      text-decoration: none;
    }   

.split-container1 {
      display: flex;
      height: 100vh;
    }

    .left-side {
      flex: 1;
      background-color: #f7f0e4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .left-side h1 {
      font-size: 4em;
      margin-bottom: 20px;
    }

    .left-side button {
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      background-color: #f7f0e4;
      color: #006242;
      border: 2px solid #006242;
      border-radius: 4px;
    }

    .right-side {
      flex: 1;
      background-color: #006242;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right-side img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    .split-container2 {
      display: flex;
      height: 100vh;
    }

    .left-side {
      flex: 1;
      background-color: #006242;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right-side h1 {
      font-size: 4em;
      margin-bottom: 20px;
    }

    .right-side button {
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      background-color: #f7f0e4;
      color: #006242;
      border: 2px solid #006242;
      border-radius: 4px;
    }

    .right-side {
      flex: 1;
      background-color: #f7f0e4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      
    }
    .left-side img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    .split-container3 {
      display: flex;
      height: 100vh;
    }
    .center-text {
  max-width: 700px; /* Full screen height */
  margin:auto;
  line-height: 2;
  border: none;
}
.main-part{
  height:100vh;
  display: flex;
  align-items: center;
  border: none;
}
.footer-container {
  background-color: #fff;
  padding-bottom: 4rem;
}
.footer{
  width:80%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading{
display: flex;
flex-direction: column;
margin-right: 1rem;
margin-left: 1rem;
}
.footer-heading h2{
  margin-bottom: 2rem;
  }
.footer-heading a{
  color:#000;
  text-decoration: none;
  margin-bottom: 0.5rem;
   
}
.footer-heading a:hover{
  color:red;
  transition: 0.3s ease-out;
}   

